/* MEDIA QUERIES MANAGER
 break point :
 - small phone 480px
 - phone 600px
 - tab-port 900px
 - desktop 1200px
 1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == sm-phone {
        @media (max-width: 30em){ @content };     //480px
    }

    @if $breakpoint == phone {
        @media (max-width: 37.5em){ @content };     //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em){ @content };    //900px
    }

    @if $breakpoint == tab-lands {
        @media (max-width: 75em){ @content };    //1200
    }

    @if $breakpoint == desktop {
        @media (min-width: 75em){ @content };    //1200
    }

}

%shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    transform: translateY(-10px);
    perspective: 23rem;
}