{{ define "main" }}
<div class="main container">    
    <section class="blog-view">
      {{partial "breadcrumb" .}}
        <article class="blog-item article">
            {{ partial "post-header" . }}
            {{.Content}}
          </article>
      {{partial "related" .}}
      {{ partialCached "company-bio" . }}
      <div class="just-comments" data-apikey="e3a2c099-5a97-4698-a40e-c9a7b88c5782"></div>
    </section>
</div>
{{ end }}