<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    {{ partial "meta-head" . }}
  </head>
  <body>
    <!-- header -->
    {{ partialCached "header" . }}

    <!-- nav -->
    {{ partial "nav" . }}

    <!-- block main -->
    {{ block "main" . }}
    {{ end }}

    <!-- footer nav -->
    {{ partialCached "footer-nav" . }}

    <!-- footer credit -->
    {{ partialCached "footer-credit" . }}
  </body>
  <!--Start of Tawk.to Script-->
  {{ if eq .Section "blog"}}
  <script async src="https://just-comments.com/w.js"></script>
  {{end}}
  
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5c7745e13341d22d9ce68237/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <script>
    //Script toggle menu
    document
      .querySelector(".js__mobile-menu__trigger")
      .addEventListener("click", toggleMenu);
    document
      .querySelector(".js__mobile-menu__close")
      .addEventListener("click", toggleMenu);

    function toggleMenu() {
      document.querySelector(".js__mobile-menu").classList.toggle("showMenu");
    }

    //script collapsable
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }

      //smooth scroll
      var scroll = new SmoothScroll('a[href*="#"]', {
        easing: 'easeInCubic',
        speed: 1000,
	      speedAsDuration: true
      });
 


    //script lightbox
  //  var img = document.querySelectorAll("article img");
  //  console.log(img);
  //  for(i = 0; i< img.length; i++){
  //    img[i].addEventListener("mouseover", function(){
  //      document.getElementById("js-lightbox").classList.toggle("lightbox---active");
   //   })
   // }

   // for(i = 0; i< img.length; i++){
   //   img[i].addEventListener("mouseleave", function(){
   //     document.getElementById("js-lightbox").classList.toggle("lightbox---active");
   //   })
   // }
  </script>
  
</html>
