{{ define "main" }}
<div class="main blog">
        <section class="blog-list">
            {{ range .Paginator.Pages }}
            <article class="blog-item container">
                {{ partial "post-header" . }}
                    <div class="blog-item__content">
                        <p>
                           {{.Summary}}
                        </p>
                    </div>
                    {{ if .Truncated }}
                    <a class="blog-item__cta" href="{{.RelPermalink}}">Baca selengkapnya &rarr;</a>
                   {{end}}
            </article>
            {{end}}
            {{ partial "pagination" . }}
        </section>
  
        <aside class="blog-sidebar">
                {{ partialCached "newsletter" . }}
                {{ partial "categories" . }}
        </aside>         
</div>
{{end}}