{{define "main"}}
<section class="static">
    <div class="static__content">
        <div class="static__code">{{.Params.code}}</div>
        <div class="static__header">{{.Params.header}}</div>
        <div class="static__description">{{.Params.description}}</div>
    </div>
</section>

{{end}}