// ALL VARIABLES BELONG HERE

$color-accent: #56A0F2;
$color-accent-2:#4CAF50;
$color-dark-1:#495057;
// $color-dark-1:black;
// $color-dark-1: #2e2f3e;

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Source Serif Pro', serif;

// MEDIA QUERIES SCREEN SIZE
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @include respond(tab-lands) {
        // max width 1200px
        font-size: 56.25%;
      }
    
      @include respond(tab-port) {
        // max width 900px
        font-size: 56.25%;
      }
    
      @include respond(phone) {
        // max width 600px
        font-size: 50%;
      }
    
}

body {
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 400;

    // letter-spacing: -0.03em;
    background-color: #F5F7FB;
    // color: $color-dark-1;
    color: black;
    background-repeat: no-repeat;
    min-height: 100vh;

}