.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: .5px solid #d3d3d3;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  background-color: #fff;
  

  &-main{
    margin-top: 20rem;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 1220px;
    // outline: 1px solid red;

    @include respond(phone){
      flex-direction: column;
    }

    &__menu {
      display: flex;
      align-items: center;
      width: 70%;
      color: $color-dark-1;
      flex-wrap: wrap;
      @include respond(phone){
        width: 100%;
        margin-left: 0;
      }

      &-link,
      &-link:visited {
        color: #a9a9a9;
        text-transform: capitalize;
      }

      &-link:hover {
        border-bottom: none;
        color: $color-dark-1;
      }

      &-link:active {
        border-bottom: none;
        color: $color-dark-1;
      }

      &-item {
        display: inline-block;
        list-style-type: none;
        padding: 1.5rem;
      }

      @include respond(phone) {
        width: 100%;
      }
    }

    &__profile {
      font-family: $font-primary;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 27%;
      padding: 0.5rem;
      color: $color-dark-1;
      //   outline: 1px solid blue;
      &-title{
        font-family: $font-primary;
        color: $color-accent;
      }

      @include respond(phone) {
        align-items: center;
        width: 100%;
        padding: 1rem;
      }
    }
  }

  &-credit {
    text-align: center;

  }
}
