//--- FULL WIDTH HEDAER CONTAINER
.header {
  height: 6.5rem;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 99;
  box-shadow: 0px 4px 10px rgba(224, 229, 236, 0.25);
  border-bottom: 1px solid rgba(224, 229, 236, 0.25);
  display: flex;
  justify-content: center;

  // 1200PX WIDTH WRAPPER
  &-wrapper {
    height: inherit;
    flex-basis: 1200px;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-lands) {
      margin: 0 10px;
    }
  }
}
//--- FULL WIDTH HEADER CONTAINER ENDED

//--- LOGO CONTAINER
.logo {
  width: 15rem;
  height: 5.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    border: none;
  }

  &:hover .logo__icon {
    -webkit-animation: spin-in 1s forwards;
    -moz-animation: spin-in 1s forwards;
    animation: spin-in 1s forwards;
  }

  @-moz-keyframes spin-in {
    from{
      transform:  scale(1) rotate(0deg);
    }
    to{
      transform:  scale(1.5) rotate(360deg);;
    }
  }


  @keyframes spin-in {
    from{
      transform:  scale(1) rotate(0deg);
    }
    to{
      transform:  scale(1.5) rotate(360deg);;
    }
  }



  @-webkit-keyframes spin-in {
    from{
      transform:  scale(1) rotate(0deg);
    }
    to{
      transform:  scale(1.5) rotate(360deg);;
    }
  }


  @-moz-keyframes spin-out {
    from{
      transform:  scale(1.5) rotate(360deg);
    }
    to{
      transform:  scale(1) rotate(0deg);;
    }
  }

  @-webkit-keyframes spin-out {
    from{
      transform:  scale(1.5) rotate(360deg);
    }
    to{
      transform:  scale(1) rotate(0deg);;
    }
  }


  @keyframes spin-out {
    from{
      transform:  scale(1.5) rotate(360deg);
    }
    to{
      transform:  scale(1) rotate(0deg);;
    }
  }



  //ICON STYLING
  &__icon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    fill: $color-accent;
    transition: all 0.5s;
    -moz-animation: spin-out 1s;
    -webkit-animation: spin-out 1s;
    animation: spin-out 1s;

  }

  //LOGO TEXT
  &__text {
    font-family: $color-accent;
    text-decoration: none;
    margin-left: 18px;
    font-size: 3rem;
    font-weight: 600;
    color: #000;
  }
}
//--- LOGO COTAINER ENDED

//--- USER CONTAINER
.contact {
  // width: 10rem;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  //USER TEXT
  &__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-primary);
    cursor: default;

    @include respond(phone) {
      display: none;
    }
    &-icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
  }

  &__search,
  &search:visited {
    display: none;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    &:hover {
      border: none;
    }

    @include respond(phone) {
      display: block;
    }
  }

  &__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-primary);
    cursor: default;
    margin-left: 2rem;

    @include respond(phone) {
      display: none;
    }

    &-icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
  }

  &__hamburger {
    border: none;
    margin: none;
    padding: none;
    background-color: transparent;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    display: none;
    fill: $color-accent;
    cursor: pointer;

    &:focus {
      border: none;
      outline: none;
    }

    @include respond(phone) {
      margin-right: 1.5rem;
      display: block;
    }
  }

  //LOGOUT BUTTON
  &__logout,
  &__logout:visited {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
    color: #999999;
  }

  &__logout:hover {
    color: var(--color-secondary);
  }
}
//--- USER CONTAINER ENDED
