//--- NAVIGATION CONTAINER
.nav-topmenu {
  width: 100%;
  height: 5.2rem;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;

  box-shadow: 0px 4px 4px rgba(224, 229, 236, 0.25);

  @include respond(phone) {
    display: none;
  }
}
//--- NAVIGATION CONTAINER ENDED

//--- MENU CONTAINER
.menu {
  flex: 0 1 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  // outline: 1px solid blue;
  @include respond(tab-lands) {
    margin: 0 10px;
  }

  // MENU WRAPPER
  &__item {
    display: inline-block;
    height: 100%;

    // SEARCH BUTTON STARTED
    &-search {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      border: none;

      &--text {
        box-sizing: border-box;
        font-size: 1em;
        display: inline-block;
        color: #d0d0d0;
        transition: all .5s;

        &---active{
          color: $color-accent;
          margin-right: .5rem;
        }

      }

      &--icon {
        box-sizing: border-box;
        display: inline-block;
        // display: none;
        width: 2.9rem;
        height: 2.9rem;
        fill: #d0d0d0;
        padding: 0;
        margin: 0;
        border: none;
        // outline: 1px solid blue;
        margin-left: 1rem;
        transition: all .5s;

        &---active{
          transform: rotate(135deg) scale(1.2);
          fill:$color-accent;
        }

      }
    }

    &-search:visited, &-search:hover{
      border: none;
      padding: none;
    }

    &-search:hover &-search--text {
      color: $color-accent;
      margin-right: .5rem;
    }

    &-search:hover &-search--icon {
      transform: rotate(135deg) scale(1.2);
      fill:$color-accent;
    }
    // SEARCH BUTTON ENDED //
  }

  // MENU ITEM STYLING
  &__link,
  &__link:visited {
    letter-spacing: -0.03em;
    text-decoration: none;
    padding: 13px;
    font-size: 1.6rem;
    color: #9aa0ac;
    margin-right: 1.9rem;
    font-weight: 400;
  }

  &__link:hover {
    text-decoration: none;
    color: $color-dark-1;
    border-bottom: 3px solid $color-accent;
  }

  &__link--active,
  &__link--active:visited {
    color: $color-accent;
    border-bottom: 3px solid $color-accent;
  }
}
//--- MENU CONTAINER ENDED
