// FIRST SECTION OF HOMEPAGE
.home-1 {
  // LAYOUT STYLING
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  //*** LEFT SIDE STARTED
  &__image {
    padding: 10px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  
  }

  // IMAGE ON LEFT SIDE
  &__bg-multirocket {
    width: 100%;
    margin-top: 2rem;

    @include respond(sm-phone) {
      width: 27.9rem;
      height: 17.2rem;
    }
  }
  //*** LEFT SIDE ENDED

  //*** RIGHT PART STARTED
  &__content {
    flex: 1 1 0;
    position: relative;
    padding: 1rem;
  }

  // MAIN HEADER LAYOUTING, STYLING ON H1
  &__header {
    display: flex;
    max-width: 51.9rem;
    min-height: 15.1rem;
    align-items: center;

      @include respond(sm-phone) {
      text-align: center;
    }
  }

  // SUB HEADER LAYOUT AND STYLING
  &__subheader {
    max-width: 51.9rem;
    min-height: 7.6rem;
    overflow-wrap: break-word;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 3.6rem;
    font-size: 2.2rem;
    letter-spacing: 0.02em;
    color: $color-dark-1;


    @include respond(sm-phone) {
      text-align: center;
    }
  }

  // BUTTON AND SINGLE ROCKET WRAPPER
  &__cta-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(sm-phone) {
     justify-content: center;
    }
  }

  // BUTTON STYLING
  &__cta {
    display: block;
    max-width: 28.9rem;
    min-height: 6rem;

    background: #106cd2;
    border-radius: 1rem;
    margin-top: 60px;

    padding: 1.2rem 1.9rem;
    text-decoration: none;
    font-weight: 600;
    line-height: 3.6rem;
    font-size: 2.2rem;
    text-align: center;

    color: #ffffff;
    transition: all 0.2s;

    &:hover {
      background: $color-accent;
      border: none;
    }
  }

  &__cta:visited{
    display: block;
    max-width: 28.9rem;
    min-height: 6rem;

    background: #106cd2;
    border-radius: 1rem;
    margin-top: 60px;

    padding: 1.2rem 1.9rem;
    text-decoration: none;
    font-weight: 600;
    line-height: 3.6rem;
    font-size: 2.2rem;
    text-align: center;

    color: #ffffff;
    transition: all 0.2s;
    &:hover {
      background: $color-accent;
      border: none;
    }
  }

  // SINGLE ROCKET LAYOUTING
  &__bg-rocket {
    align-self: flex-start;
    padding-top: -20px;
    width: 19.8rem;
    height: 19.8rem;

    @include respond(tab-lands) {
      display: none;
    }
  }
}
