.home-7 {
  // outline: 1px solid red;
  max-width: 108.3rem;
  margin: 10rem auto;

  &__header {
    display: flex;
    justify-content: center;
    @extend %section-header;
    margin: 6rem 0 3rem;

  }

  &__content {
    // outline: 1px solid red;
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
   grid-template-columns: repeat( auto-fit, minmax(300px, .8fr) );
  }


  
}


.collapsible {
  // background-color: darken(#00BEFC,2%);
  position: relative;
  background-color: transparent;
  color: $color-dark-1;
  cursor: pointer;
  padding: 1.8rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition:all .2s;
  font-weight: 600;
  border-bottom: 1px solid #d0d0d0;
  min-height: 7rem;
  line-height: 2.5rem;
}

.active, .collapsible:hover {
  // background-color: darken(#00BEFC,5%);
  background-color: transparent;
}

.content {
  padding: 0px 18px;
  background-color: #fbfbfb;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.collapsible:after {
  content: '\0276F'; /* Unicode character for "plus" sign (+) */
  transform:rotate(90deg);
  font-size: 13px;
  color: #d0d0d0;
  // float: right;
  position: absolute;
  right: 0;
  top: 25px;
}

.active:after {
  content: "\0276F"; /* Unicode character for 
  "minus" sign (-) */
  transform:rotate(-90deg);
}
