.home-6 {

  &__header {
    @extend %section-header;
    margin: 6rem 0 3rem;
  }

  &__subheader {
    display: flex;
    justify-content: center;
    
    @extend %text-display;
    text-align: center;


    margin-top: 1.5rem;
    max-width: 91.2rem;
    margin: 0 auto;
    margin-bottom: 4rem;

    @include respond(phone){
       font-size: 2rem;
    }
  }

  &__content {
    display: flex;
    // border: 1px solid red;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__pricing{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    // outline: 1px solid blue;
    // color: white;
    text-align: center;
    border-radius: 8px;
    margin: 0 1rem;
    // max-width: 25rem;
    // width: 25rem;
    width: 250px;
    min-height: 40rem;
    background-color: #E6F4F1;
    transition: all .5s;

    &:hover{
      @extend %shadow;
    }

    &:hover .home-6__pricing-recommended{
      transform: rotate(20deg);
    }

    @include respond(tab-lands){
      margin-bottom: 2rem;
    }
    @include respond(phone){
      width: 275px;
      margin-bottom: 3rem;
    }

    &-recommended{
      display: block;
      height: 4rem;
      position: absolute;
      font-size: 1.5rem;
      padding: .2rem;
      text-align: center;
      top: 0;
      right: 0;
      text-transform: uppercase;
      background-color: #E74C3C;
      color: white;
      padding: 1rem;
      transform: rotate(10deg);
      transform-origin: top right;
      transition: all .5s;
    }
   

    &-title{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #56A0F2;
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
      height: 6rem;
      color: white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

     

      &---community{
        background-color: #9BF68E;
      }

      &---lite{
        background-color: #00EABD;
      }

      &---basic{
        background-color: #00D7E8;
      }

      &---dedicated{
        background-color: #00BEFC;
      }

    }

    &-price{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #E6F4F1;
      font-size: 5rem;
      font-weight: 300;
      min-height: 7rem;
      margin-top: 1rem;
      // outline: 1px solid red;

      @include respond(phone){
        font-size: 3em;
      }
      &---special{
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
      }
    }

    &-detail{
      // outline: 1px solid blue;
      background-color: #fff;
      min-height: 15rem;
      margin: 0;
      margin-bottom: 7rem;
    }

    &-list{
     list-style-type: none;
    border-bottom: 1px dashed #d0d0d0;
    }

    &-currency{
      margin-bottom: 2rem;
      transform: translateX(-1rem);
      font-size: .5em;
      font-weight: 300;
    }

    &-description{
      padding: 1rem;
      min-height: 8rem;
      // outline: 1px solid red;
      @include respond(phone){
        font-size: 2rem;
        line-height: 1.5em;
      }
  
    }

    &-ctawrapper{
      // padding: 1rem;
      // outline: 1px solid red;
      min-width: 25rem;
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);

    }

    &-cta{
      border-radius: 8px;
      padding: .5rem 2rem;
      color: white;
      &---community{
        background-color: #9BF68E;
      }

      &---lite{
        background-color: #00EABD;
      }

      &---basic{
        background-color: #00D7E8;
      }

      &---dedicated{
        background-color: #00BEFC;
      }

      &:hover{
        border: none;
        background-color: darken($color-accent,10%);
      }
    }

    &-cta:visited{
      display: inline-block;
      border-radius: 8px;
      padding: .5rem 2rem;
      color: white;
      align-self: flex-end;

        &---community{
          background-color: #9BF68E;
        }

        &---lite{
          background-color: #00EABD;
        }

        &---basic{
          background-color: #00D7E8;
        }

        &---dedicated{
          background-color: #00BEFC;
        }

    }
  
      }
}
