.home-4 {
  max-width: 108.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin: 9rem auto 0;

  &__header {
    @extend %section-header;
    @include respond (phone){
      margin: 3rem 0 1rem;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 5rem;
    // outline: 1px solid red;

    @include respond(phone) {
      flex-direction: column-reverse;
    }
  }

  &-left {
    max-width: 50rem;
    // outline: 1px solid red;
  }

  &-right {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include respond(phone) {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  &__item {
    // box-sizing: content-box;
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: min-content 1fr;
    margin-bottom: 1rem;
    padding: 2rem;
    transition: all .5s;
    // outline: 1px solid blue;


    &-icon {
      width: .8rem;
      height: auto;;
      grid-row: 1/3;
      display: flex;
      justify-content: flex-start;
      margin-top: 0.7rem;
      align-items: flex-start;
      margin-right: 1rem;
      // @include respond(phone){
      //   visibility: hidden;
      // }
    }

    &-header {
      @extend %item-header;
      // outline: 1px solid blue;

      display: flex;
      align-items: flex-start;
      margin-bottom: 1.4rem;
    }

    &-content {

      @extend %text-display;
      margin-top: .5rem;
      @include respond (phone){
        font-size: 2rem;
      }
    }
  }

  &__item:hover{
    @extend %shadow;
  }

  &__image {
    &-responsive {
      width: 12rem;
      height: 9.6rem;
      @include respond (phone){
        width: 8rem;
        height: auto;
      }
    }

    &-seo {
      width: 24.6rem;
      height: 24.6rem;
      @include respond (phone){
        width: 14rem;
        height: auto;
      }
    }

    &-secure {
      width: 12rem;
      height: 12rem;
      @include respond (phone){
        width: 8rem;
        height: auto;
      }
    }
  }
}
