.home-3 {
  max-width: 108.3rem;
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20rem auto;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    min-width: 25rem;
    margin: 0 2rem;
    flex-shrink: 1;
    padding: 2rem;
    transition: all .5s;


    @include respond(phone) {
      width: 90%;
      //  outline: 1px solid red;
    }

    &-header {
      box-sizing: border-box;
      display: flex;
      min-height: 80px;
      justify-content: center;
      @extend %item-header;
      align-items: center;
      text-align: center;
      // outline: 1px solid red;
    }

    &-content {
      width: inherit;
      @extend %text-display;
      @include respond(phone) {
        width: 100%;
        font-size: 2rem;
        text-align: center;
      }
    }
  }

  &__item:hover .home-3__item-header{
    border-bottom: 1px solid #495057;
  }

  &__item:hover{
    @extend %shadow;
  }

  &__image-wrapper {
    min-width: 400px;
  }

  &__image {
    display: flex;
    margin-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
    height: auto;
  }

  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20rem auto;
    flex-wrap: wrap;
    margin-top: 2rem;

    @include respond(phone) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;

      & > * {
        margin: 1.5rem 1.5rem;
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 1 31.3rem;
      height: auto;
      // outline: 1px solid red;

      &-item {
        width: 20.8rem;
        height: auto;
      }
    }
  }
}
