.home-5 {
  max-width: 108.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin: 0 auto;

  &__header {
   @extend %section-header;

    @include respond(phone) {
      margin: 3rem 0 1rem;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 5rem;
    // outline: 1px solid red;

    @include respond(phone) {
      flex-direction: column-reverse;
    }
  }

  &-list {
    max-width: 45rem;
    // outline: 1px solid red;
  }

  &-illustration {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include respond(phone) {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  &__item {
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr;
    padding: 2rem;
    transition: all .5s;

    // outline: 1px solid blue;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &-icon {
      width: 1.5rem;
      height: auto;
      grid-row: 1/3;
      display: flex;
      justify-content: flex-start;
      margin-top: 0.7rem;
      align-items: flex-start;
      margin-right: 1rem;
    }

    &-header {
      @extend %item-header;
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.4rem;
    }

    &-content {
      @extend %text-display;
      margin-top: 1.5rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  &__item:hover {
   @extend %shadow;
  }


  &__image {
    &-teaching {
      width: 12.2rem;
      height: auto;
   
      @include respond(phone) {
        width: 8rem;
        height: auto;
      }
    }

    &-backup {
      width: 20.6rem;
      height: auto;
      @include respond(phone) {
        width: 14rem;
        height: auto;
      }
    }

    &-support {
      width: 12.2rem;
      height: auto;
      @include respond(phone) {
        width: 8rem;
        height: auto;
      }
    }
  }
}
