.home-final {
  max-width: 108.3rem;
  margin: 20rem auto 15rem;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 15rem;
  // padding: 20rem auto 15rem;
  // outline: 1px solid red;
  &__header {
    display: flex;
    justify-content: center;
    // @extend %section-header;
    text-align: center;
    font-size: 6rem;
    margin: 6rem 0 3rem;
  }

  &__subheader {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  &__cta,
  &__cta:visited {
    text-decoration: none;
    border: none;
    display: block;
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    width: 300px;
    margin: 3rem auto;
    text-align: center;
    background-color: $color-accent-2;
    padding: 2rem;
  }

  &__cta:hover {
    background-color: darken($color-accent-2, 10%);
    border: none;
  }

  &__number{
    margin-top: .5rem;
    font-size: 2rem;
  }

  &__moreinfo {
    margin-top: -1rem;
    font-size: 0.9em;
    text-align: center;
  }
}
