.home-8 {
  max-width: 108.3rem;
  margin: 10rem auto;

  &__header {
    display: flex;
    justify-content: center;
    @extend %section-header;
    margin: 6rem 0 3rem;

  }

  &__content {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(40rem, 1fr) );
  }

  &__step{
    margin: unset;
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    counter-reset: step;
    margin-left: 2rem;

    &-item{
      display: inline-block;
      padding: 1rem;
      width: 200px;      

      &::before{
        display: inline-block;
        padding: 1rem;
        text-align: center;
        counter-increment: step;
        content: counter(step);
        font-weight: 300;
        font-size: 5rem;
        border-bottom: 1px solid black;
        margin-left: -6rem;
        left: 0;
      }
    }

    &-content{
      margin-top: -3rem;
    }


    &-header{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: $color-dark-1;

    }

    &-description{
      margin-top: .5rem;
    }


  }

  
}
