.home-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31.3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  @include respond(sm-phone){
      margin-top: 8rem;
  }

  &__header {
    @extend %section-header;

    margin-bottom: 2.1rem;
  }

  &__subheader {
    // font-weight: 300;
    // line-height: 3rem;
    // font-size: 2rem;
    // text-align: center;
    // letter-spacing: 0.02em;
    // color: black;
    
    @extend %text-display;
    text-align: center;
    max-width: 91.2rem;
      @include respond(phone) {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
      }
  }
}
