<ul vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb">
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage"
          href="#">
        <span property="name">Home</span></a>
      <meta property="position" content="1">
    </li>
    
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage"
          href="/{{.Section}}/">
        <span property="name">{{.Section | urlize}}</span></a>
      <meta property="position" content="2">
    </li>
    
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage"
          href="/{{.Section |urlize}}/{{.Title |urlize}}">
        <span property="name">{{ .Title }}</span></a>
      <meta property="position" content="3">
    </li>
  </ul>