<section class="container taxonomy-list">
        <h3 class="taxonomy-list__title">Kategori</h3>
        <ul class="taxonomy-list__group">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
               <li class="taxonomy-list__item"><a href="/categories/{{ $taxonomyname |urlize}}" class="taxonomy-list__link"> {{ $taxonomyname | humanize | title}}</a></li>
           {{end}}
         
        </ul>
</section>