<aside class="company-bio">
        <h4 class="company-bio__title">Tentang Igumedia</h4>
        <p class="company-bio__description">
          Igumedia merupakan penyedia jasa pembuatan website. Secara berkala Igumedia akan menulis blog seputar web design, UI/UX, SEO, copy-writing, dll.
          Dapatkan notifikasi melalui email bila terdapat artikel baru. Subscribe sekarang.
        </p>
            <form action="action_page.php">           
                <div class="newsletter">
                  <input class="newsletter__input" type="text" placeholder="Name" name="name" required>
                  <input class="newsletter__input" type="text" placeholder="Email address" name="mail" required>
                </div>
              
                <div>
                  <input class="newsletter__submit" type="submit" value="Subscribe (Coming Soon)">
                </div>
            </form>           
</aside>
