<footer class="footer footer-main">
    <div class="footer-nav">
       <ul class="footer-nav__menu">
           <li class="footer-nav__menu-item"><a href="/" class="footer-nav__menu-link">Beranda</a></li>
           <li class="footer-nav__menu-item"><a href="/jasa-pembuatan-website/tentang-igumedia/" class="footer-nav__menu-link">Tentang Igumedia</a></li>
           <li class="footer-nav__menu-item"><a href="/jasa-pembuatan-website/pendahuluan-layanan-pembuatan-website/" class="footer-nav__menu-link">Info Selengkapnya</a></li>
           <li class="footer-nav__menu-item"><a href="/jasa-pembuatan-website/syarat-dan-ketentuan/" class="footer-nav__menu-link">Syarat dan Ketentuan</a></li>
       </ul>
       <div class="footer-nav__profile">
           <h4 class="footer-nav__profile-title">Contact Us</h4>
           <div class="footer-nav__profile-phone">Telepon : {{ .Site.Data.company.phone}} </div>
           <div class="footer-nav__profile-email">{{ .Site.Data.company.email }}</div>
       </div>
    </div>
</footer>