<footer class="footer">
  <span class="footer-credit"
    >Theme by <a href="#">Irfan Gumelar</a>. Icons made by
    <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart"
      >smalllikeart</a
    >,
    <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong"
      >mynamepong</a
    >, <a href="https://www.freepik.com/" title="Freepik">Freepik</a>,
    <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp"
      >Eucalyp</a
    >,
    <a href="https://www.flaticon.com/authors/wanicon" title="wanicon"
      >wanicon</a
    >
    from <a href="https://www.flaticon.com/" title="Flaticon">flaticon</a> are
    licensed by
    <a
      href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0"
      >CC 3.0 BY</a
    ></span
  >
</footer>
