<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Description" content="{{.Params.description}}">

<!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900" rel="stylesheet"> -->

<link rel="stylesheet" href="/styles/styles.css" />
<link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
<!-- <link rel="manifest" href="/manifest.json"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:700" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900|Source+Serif+Pro:700" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135640282-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135640282-1');
</script>

<title>{{ .Params.title }}</title>