<nav class="mobile-menu js__mobile-menu">
    <button class="mobile-menu__close js__mobile-menu__close" aria-label="close mobile menu">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 41.756 41.756" style="enable-background:new 0 0 41.756 41.756;" xml:space="preserve" class=""><g><g>
                <path d="M27.948,20.878L40.291,8.536c1.953-1.953,1.953-5.119,0-7.071c-1.951-1.952-5.119-1.952-7.07,0L20.878,13.809L8.535,1.465   c-1.951-1.952-5.119-1.952-7.07,0c-1.953,1.953-1.953,5.119,0,7.071l12.342,12.342L1.465,33.22c-1.953,1.953-1.953,5.119,0,7.071   C2.44,41.268,3.721,41.755,5,41.755c1.278,0,2.56-0.487,3.535-1.464l12.343-12.342l12.343,12.343   c0.976,0.977,2.256,1.464,3.535,1.464s2.56-0.487,3.535-1.464c1.953-1.953,1.953-5.119,0-7.071L27.948,20.878z" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
            </g></g> 
        </svg>    
    </button>
    <ul class="mobile-menu__wrapper">
        <li><a href="/" class="mobile-menu__item">Home</a></li>
        <li><a href="/jasa-pembuatan-website/pendahuluan-layanan-pembuatan-website/" class="mobile-menu__item">Informasi lengkap</a></li>
        <li><a href="/blog" class="mobile-menu__item">Blog</a></li>

    </ul>
</nav>

<nav class="nav-topmenu">
    <ul class="menu">
    <div>
        <li class="menu__item">
            <a href="/" class='menu__link menu__link {{ if .IsHome }} menu__link menu__link--active {{ end }}'>Beranda</a>
        </li>
        <li class="menu__item">
            <a href="/jasa-pembuatan-website/pendahuluan-layanan-pembuatan-website/" class='menu__link  {{ if eq "jasa-pembuatan-website" .Section }} menu__link menu__link--active {{ end }}'>Info lengkap</a>
        </li>
        <li class="menu__item">
            <a href="/blog" class='menu__link  {{ if eq "blog" .Section }} menu__link menu__link--active {{ end }}'>Blog</a>
        </li>
    </div>
        <div class="menu__item">
                <a href="/search" class="menu__item-search"> 
                        <div class='menu__item-search--text {{ if eq "search" .Type }} menu__item-search--text---active {{ end }}'> Search</div>
                        <svg class='menu__item-search--icon {{ if eq "search" .Type }} menu__item-search--icon---active {{ end }}' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M310 190c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm190.28 253.72L366.8 310.24C388.546 277.485 400 239.555 400 200 400 89.72 310.28 0 200 0S0 89.72 0 200s89.72 200 200 200c39.556 0 77.486-11.455 110.24-33.198l133.48 133.48C451.276 507.838 461.32 512 472 512a39.73 39.73 0 0 0 28.278-11.716C507.837 492.73 512 482.687 512 472s-4.163-20.73-11.72-28.28zm-194.745-97.992C274.667 368.15 238.175 380 200 380c-99.252 0-180-80.748-180-180S100.748 20 200 20s180 80.748 180 180c0 38.175-11.85 74.667-34.272 105.535a180.87 180.87 0 0 1-40.192 40.192zm20.98 9.066a201.26 201.26 0 0 0 28.277-28.277l28.37 28.37c-8.628 10.183-18.094 19.65-28.277 28.277l-28.37-28.37zM486.14 486.14a19.86 19.86 0 0 1-28.28 0l-88.795-88.795a263.6 263.6 0 0 0 28.277-28.277l88.798 88.798c3.78 3.774 5.86 8.792 5.86 14.134a19.86 19.86 0 0 1-5.86 14.14zM200 40c-88.225 0-160 71.775-160 160s71.775 160 160 160 160-71.775 160-160S288.225 40 200 40zm0 300c-77.196 0-140-62.804-140-140S122.804 60 200 60s140 62.804 140 140-62.804 140-140 140zm112.065-182.927c-8.6-22.412-23.604-41.574-43.36-55.413A119.22 119.22 0 0 0 200 80c-5.522 0-10 4.478-10 10s4.478 10 10 10c41.1 0 78.63 25.818 93.396 64.247 1.528 3.976 5.317 6.416 9.337 6.416 1.192 0 2.405-.215 3.584-.668a10 10 0 0 0 5.748-12.922z" /></svg>
                </a>
            </div>
    </ul>
</nav>
