    <header>
        <a href="{{.RelPermalink}}"><h1  class="blog-item__title" >{{.Title}}</h1> </a>
       <div class="blog-item__description">
           <div class="blog-item__description-left">
               <img class="blog-item__description-avatar" src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar">
               <span class="blog-item__description-author">Oleh <a href='/authors/{{ with .Params.authors }}{{.|urlize }}{{end}}'>{{ with .Params.authors }} {{.}} {{end}}</a> dalam <a href='/categories/{{ with .Params.categories }}{{.|urlize }}{{end}}'>{{ with .Params.categories }} {{.}} {{end}}</a> </span> 
           </div>
           <div class="blog-item__description-right"><time datetime="{{ with .Params.Date }}{{.}}{{end}}">{{ with .Params.Date }}{{dateFormat "2 Jan 2006" .}}{{end}}</time> <span>&mdash;</span> <span class="blog-item__description-read">{{.ReadingTime}} Menit waktu baca</span>
           </div>
       </div>
   </header>