{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<aside class="related">
  <h4 class="related__title">Baca juga</h4>
  <ul class="related__list">
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  
  </ul>
</aside>
{{ end }}
