.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-list {
    width: 70%;
    // outline: 1px solid red;

    @include respond(phone) {
        width: 100%;
      }
  }

  &-sidebar {
    width: 27%;
    // outline: 1px solid blue;

    @include respond(phone) {
        width: 100%;
        margin-top: 3rem;
      }
  }
}

.blog-item{
  &:not(:last-child){
    margin-bottom: 3rem;
  }

  &__title{
    text-decoration: none;
    color: black;
    padding: 1rem 0;
    line-height: initial;

    &:hover{
      // color: darken($color-accent,30%);
      text-decoration: underline;
      text-decoration-color: $color-accent;
    }
  }

  &__description{
    // outline: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0 1.5rem 0;
    

    &-left{
      display: flex;
      align-items: center;
    }

    &-author{
      margin-left: 1rem;
    }

    &-avatar{
      width:30px;
      height:auto;
      border-radius: 50%;
    }

    &-right{
      // outline: 1px solid red;
      display: flex;
      align-items: center;
      color: rgba(51,51,51,.75);
      margin-left: 3.8rem;

      & > *{
        margin: 0 .5rem;
      }
    }
  }

  &__cta{
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin-top: 1.5rem;
  }
}

.taxonomy-list{
  &__group{
    list-style-type: none;
    margin-left: 0;
    margin-top: 1rem;
  }

  &__item{
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 5px;
   
      margin-right: 1rem;
      margin-top: 1rem;
    
  }

  &__link:hover{
    border-bottom: 2px solid $color-accent;
  }
}


.blog-view{
  max-width: 60rem;
  margin: 0 auto;
}

.company-bio{
  background-color:#F1F1F1;
  padding: 2rem;
}


.related{
  padding: 2rem;

  &__list{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}
