.info {
  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // grid-template-columns: minmax(15rem, 28rem) minmax(50rem, 1fr);
    // grid-gap: 2rem;
  }

  &-menu {
    // flex-basis: 27%;
    // flex-grow: 0;
    // flex-shrink: 1;
    width: 25%;
    // margin-right: 2rem;
    @include respond(phone) {
        width: 100%;
      }

    &__wrapper {
      margin-left: 0;
    }

    &__item {
      list-style-type: none;
    }

    &__link,&__link:visited{
      display: block;
      text-decoration: none;
      padding: 7px 1rem;
      border-right: 2px solid #f3f3f3;
      font-weight: 400;
      text-align: left;
      font-family: $font-primary;
      color: $color-dark-1;

      &:hover {
        background-color: #ebeff8;
        border-bottom: none;
        font-style: italic;

        // background-color: red;
      }

    
    }

    &__link--active, &__link--active:visited, &__link--active:hover {
      // background-color: #EBEFF8;
      color: #2980b9 !important;
      font-weight: 600 !important;
      border-right: 2px solid black !important;

    }
  }

  &-container {
    // flex: 1 1 70%;
    width: 72%;

    @include respond(phone) {
        width: 100%;
        margin-top: 3rem;
      }
  }

  &-postnav {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 2rem;

    &__link {
      text-decoration: none;
      color: #1278ea;
      font-weight: 600;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;
    }

    &__link:hover {
      border-bottom: 2px solid #1278ea;
      padding-bottom: 3px;
    }
  }
}

.link-activer{
  color: red;
}

.text-container {
    max-width: 50rem;
  }