.login{
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    &__sub-header{
        text-align: center;
        font-weight: 600;
        padding-top: .5rem;
    }

    &__button-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}