.new-invoice {
  display: flex;
  justify-content: space-between;

  &__left-panel {
    padding: 4rem 3.5rem;
    flex: 1 1 0;
  }

  &__center-panel {
    padding: 4rem 3.5rem;
    flex: 1 1 0;
  }

  &__right-panel {
    padding: 4rem 3.5rem;
    flex: 1 1 0;
  }
}


.services{
  display: flex;
  flex-direction: column;
  padding: 1rem 3.5rem;
  padding-bottom: 4rem;

  &__general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-form{
      display: flex;
      flex-direction: row;
    }

    &-form div:not(:first-child){
      margin-left: 3rem;
    }
  }

  &__detail{
    margin-top: 3rem;
  }

  &__total{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 3rem; 
  }

  &__total > div{
    padding-bottom: 3rem;
  }
}

.title-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary);

}

.detail-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.title-item{
  display: inline-block;
  text-align: center;
  padding: 1.3rem;
  text-align: center;
}

.helper{
  &__services{
    width: 30rem;
    display: inline-block;

  }

  &__description{
    width: 30rem;
  }

  &__usd{
    width: 15rem;
  }

  &__idr{
    width: 15rem;
  }

  &__cta{
    width: 10rem;
  }
}

.detail__icon-delete{
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: pink;
  transition: all .2s;

  &:hover{
    color: red;
  }
}

