.static{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        
    }

    &__code{
        font-size: 8rem;
    }

    &__header{
        font-size: 5rem;
    }

    &__description{
        margin-top: 3rem;
        font-size: 3rem;
    }

}