{{define "main"}}
<section class="static">
    <div class="static__content">
        <div class="static__code">404</div>
        <div class="static__header">Apapun yang kamu cari, hal tersebut tidak disini</div>
        <div class="static__description">Kecuali bila kamu mencari kekosongan, selamat kamu telah menemukannya</div>
    </div>
</section>

{{end}}