//------------------------------------------------- HELPER --------------------------------------
.icon-button{
    margin-right: 1rem;
}
//------------------------------------------------- HELPER --------------------------------------

.button{
    display: inline-block;
    padding: 1rem 4rem;
    text-decoration: none;

    &__flat-icon{
        border: 1px solid var(--color-secondary);
        color: var(--color-secondary);
        transition: all .1s;
    }

    &__flat-icon:hover{
        background-color: var(--color-secondary);
        color: #fff;
    }

    &__flat-icon:active{
        background-color: #2980b9;
        color: #ecf0f1;
    }

    &__green{
        padding: 1rem 6rem;
        border: none;
        color: white;
        background-color: #2ecc71;
        font-family: inherit;
        font-size: inherit;
        border-radius: 3px;
        transition: all .1s;
        cursor: pointer;
    }

    &__green:hover{
        color: #ecf0f1;
        background-color:#27ae60;   
    }
    &__green:focus, &__green:active{
        outline: none;
        color: #ecf0f1;
    }

    &__blue{
        padding: 1rem 6rem;
        border: none;
        color: white;
        background-color: var(--color-secondary);
        font-family: inherit;
        font-size: inherit;
        border-radius: 3px;
        transition: all .1s;
        cursor: pointer;

        &--small{
            padding: 1rem 3rem;
        }
    }

    &__blue:hover{
        color: #ecf0f1;
        background-color:#2980b9;   
    }
    &__blue:focus, &__blue:active{
        outline: none;
        color: #ecf0f1;
    }

}


