// CONTAINER TO HOLD OTHER DOM
.container {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
  border-radius: 3px;
  border: 1px solid rgba(208, 208, 208, 0.25);
  padding: 2rem;

  &--accent{
    // background-color: $color-accent;
    // color: white;
    color: $color-dark-1;
    font-family: $font-primary;
    font-weight: 300;
  }

  &__header{
      padding: 1.5rem 2.5rem;
      font-size: 1.8rem;
      color: var(--color-primary);
      font-weight: normal;
      border-bottom: 2px solid rgba(208, 208, 208, 0.25);
    }
}
