input[type=number]{
  text-align: right;
  padding-right: 1.5rem;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
  }

  &__horizontal-wrapper > *:not(:first-child) {
    margin-left: 1rem;
  }

  &__label {
    font-size: 1.6rem;

    &--error {
      color: #e74c3c;
    }
  }

 

  &__text {
    margin-top: 1rem;
    height: 3rem;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(224, 229, 236, 0.25);
    padding-left: 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-secondary);

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-secondary);
    }

    &--error,
    &--error:focus {
      background-color: pink;
      border-bottom: 1px solid rgba(231, 76, 60, 1);
      color: #333;
    }
  }

  &__shadowless-text{
    margin-top: 1rem;
    height: 3rem;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-secondary);

    &:focus {
      outline: none;
      border-bottom: 1px solid #f39c12;
    }
  }

  &__textarea {
    margin-top: 2rem;
    padding: 1.5rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-secondary);
  }

  &__textarea:focus {
    outline: none;
    border: 1px solid var(--color-secondary);
  }
}
