.mobile-menu{
    display: flex;
    // display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top:0;
    left:0;
    background-color: $color-accent;
    background: linear-gradient(212.14deg, #56A0F2 26.79%, #0E5EB6 89.31%);
    width: 100vw;
    height: 0vh;
    z-index: 100;
    overflow-y: scroll;
    overflow-x:hidden;
    transition: all .5s;

    &__close{
        // display: none;
        opacity: 0;
        border:none;
        margin: none;
        padding: none;
        background-color:transparent;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top:5%;
        right: 5%;
        cursor: pointer;
        transition: all .5s;

        &:focus{
            border: none;outline: none;
          }
    }

    &__wrapper{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        // outline: 1px solid white;
    }

    &__item, &__item:visited, &__item:active {
        display: inline-block;
        color: #fff;
        text-align: center;
        font-size: 1.25em;
        padding: 2.5rem;
    }

    &__item:hover{
        border: none;
    }
}

.showMenu{
    // display: flex;
    height: 100vh;

    & .mobile-menu__close{
        // display: block;
        opacity: 1;
    }
}