
.subscription{
    margin-bottom: 3rem;
  }
  
  .newsletter {
    padding: 20px;
    background-color: #f1f1f1;
  
    &__input{
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
  
    &__submit{
      width: 100%;
      padding: 12px;
      // margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  
      background-color: #4CAF50;
      color: white;
      border: none;
  
      &:hover{
        opacity: 0.8;
      }
    }
  }