
.pagination {
    display: flex;
    justify-content: center;
    margin: unset;
    & li {
     list-style: none;
    }
  }
  
  .page-link, .page-link:visited {
    display: inline-block;
    box-sizing: border-box;
    color: black;
    float: left;
    padding: .8rem 1.6rem;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 .4rem;
    background-color: #fff;

    &:hover{
     border: 1px solid #4CAF50;
     color: #4CAF50;
    }
  }
  
  .pagination__link---active,.pagination__link---active:visited {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    &:hover{
      color: white;
    }
  }

  .pagination__link--disabled {
    background-color: #d0d0d0;
    color: white;
    border: 1px solid #d0d0d0;
  }
  
  // .pagination a:hover:not(.active) {background-color: #ddd;}
  