.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    &__container{
        min-height: 70vh;
    }

    &__form{
        position: relative;
        margin-top: 3rem;
        width: 100%;
        max-width: 80rem;
        // outline: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__input{
        display: inline-block;
        width: 100%;
        height: 8rem;
        font-size: 3em;
        padding-right: 6rem;
        padding-left: 1rem;
        border: none;
        border-bottom: 3px solid $color-dark-1;
        transition: all .2s ease-in;
        font-family: $font-secondary;
        // outline: 1px solid red;
    }

    &__input:focus{
        outline: none;
        border-bottom: 3px solid $color-accent;

    }

    &__cta{
        position: absolute;
        right: 0;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        outline: none;
        border:none;
        fill: #d0d0d0;
        transition: all .5s;
        
    }

    &__cta:hover{
        // transform: rotate(135deg) scale(1.2);
        fill:$color-accent;
    }

    &__cta:active{
        transform: scale(.9);
                // transform: rotate(135deg) scale(1.2);

    }

    &__close, &__close:visited{
        margin-top: 1rem;
        display: block;
        text-align: left;
        width: 100%;
        max-width: 80rem;
        // outline: 1px solid red;
    }

    &__close:hover{
        border: none;
    }

    
}