.lightbox{
  display: none;
  position: fixed;
  background-color:black;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: .7;

  &---active{
    display: block;
  }

}


.h1 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 4.4rem;
  letter-spacing: -0.03em;
  color: $color-dark-1;
}

%text-display {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  font-size: 1.7rem;
  color: $color-dark-1;
  text-align: justify;
}

%item-header {
  font-family: $font-primary;
  font-weight: 600;
  line-height: 3rem;
  font-size: 2rem;
  letter-spacing: 0.02em;
  color: $color-dark-1;
  text-transform: capitalize;
  font-style: normal;
}

%section-header {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 600;
  line-height: 3.8rem;
  font-size: 2.5rem;
  text-align: center;
  // letter-spacing: .09em;
  margin: 6rem 0 0;
  text-transform: capitalize;
  // color: #177ded;
  color: $color-dark-1;
  // border-bottom: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
font-family: $font-secondary;
font-weight:700;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 16px;
}

p, span, a, blockquote, cite, li, time {
    font-family: $font-primary;
    font-size: 1.6rem;
    line-height: 2.9rem;
    @include respond(phone) {
        font-size: 2rem;
        line-height: 3.5rem;
      }
}

a, a:visited{
    text-decoration: none;
    color: $color-accent;
    font-weight: 600;
}

a:hover{
 border-bottom: 2px solid $color-accent;
}


  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    // quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote::before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: block !important;
    margin: unset !important;
  }

  blockquote p:not(:last-child){
    margin-bottom: 2.5rem !important;

  }

  cite{
    display: flex;
    justify-content: flex-end;
  }

  ul, ol {
    margin-left: 2rem;
  }


  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $color-accent;
    color: white;
  }

  kbd {
    font-family: monospace;

    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    // font-size: inherit;
    font-weight: 400;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }

   abbr {
    font-style: italic;
    }

    mark{
    background: #ffe9b3;
    border-bottom: .05rem solid #ffd367;
    border-radius: .1rem;
    color: black;
    padding: .05rem .1rem 0;
    }

    code{
      background: #fcf2f2;
      border-radius: .1rem;
      line-height: 1.25;
      padding: .1rem .2rem;
    }

.article {

  img{
    display: block;
    max-width: 100%;
    transition: all .2s;
    margin: 0 auto;
    margin: auto;
    position: relative;
    z-index: 101;

    // &:hover{
    //   transform: scale(2);
    // }

    
  }

  img:hover .lightbox{
    background-color:red;
  }

  
  h1,h2,h3,h4,h5,h6{
    display: block;
    margin: 2rem 0;
  }
  
  h1:first-of-type{
    margin: unset;
  }
  
   p, cite, ol, ul{
    display: block;
    margin-bottom: 2.5rem;
   }

   ol, ul, li {
     margin-left: 2rem;
   }

   p + ul, p + ol {
    margin-top: -2rem;
   }
}