@charset "UTF-8";
/* MEDIA QUERIES MANAGER
 break point :
 - small phone 480px
 - phone 600px
 - tab-port 900px
 - desktop 1200px
 1em = 16px
*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.home-3__item:hover, .home-4__item:hover, .home-5__item:hover, .home-6__pricing:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  transform: translateY(-10px);
  perspective: 23rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #F5F7FB;
  color: black;
  background-repeat: no-repeat;
  min-height: 100vh; }

.header {
  height: 6.5rem;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 99;
  box-shadow: 0px 4px 10px rgba(224, 229, 236, 0.25);
  border-bottom: 1px solid rgba(224, 229, 236, 0.25);
  display: flex;
  justify-content: center; }
  .header-wrapper {
    height: inherit;
    flex-basis: 1200px;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 75em) {
      .header-wrapper {
        margin: 0 10px; } }

.logo {
  width: 15rem;
  height: 5.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logo:hover {
    border: none; }
  .logo:hover .logo__icon {
    -webkit-animation: spin-in 1s forwards;
    -moz-animation: spin-in 1s forwards;
    animation: spin-in 1s forwards; }

@-moz-keyframes spin-in {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1.5) rotate(360deg); } }

@keyframes spin-in {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1.5) rotate(360deg); } }

@-webkit-keyframes spin-in {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1.5) rotate(360deg); } }

@-moz-keyframes spin-out {
  from {
    transform: scale(1.5) rotate(360deg); }
  to {
    transform: scale(1) rotate(0deg); } }

@-webkit-keyframes spin-out {
  from {
    transform: scale(1.5) rotate(360deg); }
  to {
    transform: scale(1) rotate(0deg); } }

@keyframes spin-out {
  from {
    transform: scale(1.5) rotate(360deg); }
  to {
    transform: scale(1) rotate(0deg); } }
  .logo__icon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    fill: #56A0F2;
    transition: all 0.5s;
    -moz-animation: spin-out 1s;
    -webkit-animation: spin-out 1s;
    animation: spin-out 1s; }
  .logo__text {
    font-family: #56A0F2;
    text-decoration: none;
    margin-left: 18px;
    font-size: 3rem;
    font-weight: 600;
    color: #000; }

.contact {
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .contact__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-primary);
    cursor: default; }
    @media (max-width: 37.5em) {
      .contact__phone {
        display: none; } }
    .contact__phone-icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem; }
  .contact__search, .contactsearch:visited {
    display: none;
    height: 3rem;
    width: 3rem;
    margin: 1rem; }
    .contact__search:hover, .contactsearch:visited:hover {
      border: none; }
    @media (max-width: 37.5em) {
      .contact__search, .contactsearch:visited {
        display: block; } }
  .contact__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-primary);
    cursor: default;
    margin-left: 2rem; }
    @media (max-width: 37.5em) {
      .contact__email {
        display: none; } }
    .contact__email-icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem; }
  .contact__hamburger {
    border: none;
    margin: none;
    padding: none;
    background-color: transparent;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    display: none;
    fill: #56A0F2;
    cursor: pointer; }
    .contact__hamburger:focus {
      border: none;
      outline: none; }
    @media (max-width: 37.5em) {
      .contact__hamburger {
        margin-right: 1.5rem;
        display: block; } }
  .contact__logout, .contact__logout:visited {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
    color: #999999; }
  .contact__logout:hover {
    color: var(--color-secondary); }

.nav-topmenu {
  width: 100%;
  height: 5.2rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  box-shadow: 0px 4px 4px rgba(224, 229, 236, 0.25); }
  @media (max-width: 37.5em) {
    .nav-topmenu {
      display: none; } }

.menu {
  flex: 0 1 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 0; }
  @media (max-width: 75em) {
    .menu {
      margin: 0 10px; } }
  .menu__item {
    display: inline-block;
    height: 100%; }
    .menu__item-search {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      border: none; }
      .menu__item-search--text {
        box-sizing: border-box;
        font-size: 1em;
        display: inline-block;
        color: #d0d0d0;
        transition: all .5s; }
        .menu__item-search--text---active {
          color: #56A0F2;
          margin-right: .5rem; }
      .menu__item-search--icon {
        box-sizing: border-box;
        display: inline-block;
        width: 2.9rem;
        height: 2.9rem;
        fill: #d0d0d0;
        padding: 0;
        margin: 0;
        border: none;
        margin-left: 1rem;
        transition: all .5s; }
        .menu__item-search--icon---active {
          transform: rotate(135deg) scale(1.2);
          fill: #56A0F2; }
    .menu__item-search:visited, .menu__item-search:hover {
      border: none;
      padding: none; }
    .menu__item-search:hover .menu__item-search--text {
      color: #56A0F2;
      margin-right: .5rem; }
    .menu__item-search:hover .menu__item-search--icon {
      transform: rotate(135deg) scale(1.2);
      fill: #56A0F2; }
  .menu__link, .menu__link:visited {
    letter-spacing: -0.03em;
    text-decoration: none;
    padding: 13px;
    font-size: 1.6rem;
    color: #9aa0ac;
    margin-right: 1.9rem;
    font-weight: 400; }
  .menu__link:hover {
    text-decoration: none;
    color: #495057;
    border-bottom: 3px solid #56A0F2; }
  .menu__link--active, .menu__link--active:visited {
    color: #56A0F2;
    border-bottom: 3px solid #56A0F2; }

.main {
  max-width: 1220px;
  margin: 30px auto;
  padding-left: 10px;
  padding-right: 10px; }

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: .5px solid #d3d3d3;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  background-color: #fff; }
  .footer-main {
    margin-top: 20rem; }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 1220px; }
    @media (max-width: 37.5em) {
      .footer-nav {
        flex-direction: column; } }
    .footer-nav__menu {
      display: flex;
      align-items: center;
      width: 70%;
      color: #495057;
      flex-wrap: wrap; }
      @media (max-width: 37.5em) {
        .footer-nav__menu {
          width: 100%;
          margin-left: 0; } }
      .footer-nav__menu-link, .footer-nav__menu-link:visited {
        color: #a9a9a9;
        text-transform: capitalize; }
      .footer-nav__menu-link:hover {
        border-bottom: none;
        color: #495057; }
      .footer-nav__menu-link:active {
        border-bottom: none;
        color: #495057; }
      .footer-nav__menu-item {
        display: inline-block;
        list-style-type: none;
        padding: 1.5rem; }
      @media (max-width: 37.5em) {
        .footer-nav__menu {
          width: 100%; } }
    .footer-nav__profile {
      font-family: "Source Sans Pro", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 27%;
      padding: 0.5rem;
      color: #495057; }
      .footer-nav__profile-title {
        font-family: "Source Sans Pro", sans-serif;
        color: #56A0F2; }
      @media (max-width: 37.5em) {
        .footer-nav__profile {
          align-items: center;
          width: 100%;
          padding: 1rem; } }
  .footer-credit {
    text-align: center; }

.center {
  margin: 0 auto; }

.lightbox {
  display: none;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: .7; }
  .lightbox---active {
    display: block; }

.h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 4.4rem;
  letter-spacing: -0.03em;
  color: #495057; }

.home-2__subheader, .home-3__item-content, .home-4__item-content, .home-5__item-content, .home-6__subheader {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  font-size: 1.7rem;
  color: #495057;
  text-align: justify; }

.home-3__item-header, .home-4__item-header, .home-5__item-header {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 3rem;
  font-size: 2rem;
  letter-spacing: 0.02em;
  color: #495057;
  text-transform: capitalize;
  font-style: normal; }

.home-2__header, .home-4__header, .home-5__header, .home-6__header, .home-7__header, .home-8__header {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 3.8rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 6rem 0 0;
  text-transform: capitalize;
  color: #495057; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

p, span, a, blockquote, cite, li, time {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 2.9rem; }
  @media (max-width: 37.5em) {
    p, span, a, blockquote, cite, li, time {
      font-size: 2rem;
      line-height: 3.5rem; } }

a, a:visited {
  text-decoration: none;
  color: #56A0F2;
  font-weight: 600; }

a:hover {
  border-bottom: 2px solid #56A0F2; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

blockquote::before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: block !important;
  margin: unset !important; }

blockquote p:not(:last-child) {
  margin-bottom: 2.5rem !important; }

cite {
  display: flex;
  justify-content: flex-end; }

ul, ol {
  margin-left: 2rem; }

table {
  border-collapse: collapse;
  width: 100%; }

table td, table th {
  border: 1px solid #ddd;
  padding: 8px; }

table tr:nth-child(even) {
  background-color: #f2f2f2; }

table tr:hover {
  background-color: #ddd; }

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #56A0F2;
  color: white; }

kbd {
  font-family: monospace;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap; }

abbr {
  font-style: italic; }

mark {
  background: #ffe9b3;
  border-bottom: .05rem solid #ffd367;
  border-radius: .1rem;
  color: black;
  padding: .05rem .1rem 0; }

code {
  background: #fcf2f2;
  border-radius: .1rem;
  line-height: 1.25;
  padding: .1rem .2rem; }

.article img {
  display: block;
  max-width: 100%;
  transition: all .2s;
  margin: 0 auto;
  margin: auto;
  position: relative;
  z-index: 101; }

.article img:hover .lightbox {
  background-color: red; }

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  display: block;
  margin: 2rem 0; }

.article h1:first-of-type {
  margin: unset; }

.article p, .article cite, .article ol, .article ul {
  display: block;
  margin-bottom: 2.5rem; }

.article ol, .article ul, .article li {
  margin-left: 2rem; }

.article p + ul, .article p + ol {
  margin-top: -2rem; }

.container {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
  border-radius: 3px;
  border: 1px solid rgba(208, 208, 208, 0.25);
  padding: 2rem; }
  .container--accent {
    color: #495057;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300; }
  .container__header {
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
    color: var(--color-primary);
    font-weight: normal;
    border-bottom: 2px solid rgba(208, 208, 208, 0.25); }

input[type=number] {
  text-align: right;
  padding-right: 1.5rem; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem; }

.form__horizontal-wrapper > *:not(:first-child) {
  margin-left: 1rem; }

.form__label {
  font-size: 1.6rem; }
  .form__label--error {
    color: #e74c3c; }

.form__text {
  margin-top: 1rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(224, 229, 236, 0.25);
  padding-left: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-secondary); }
  .form__text:focus {
    outline: none;
    border-bottom: 1px solid var(--color-secondary); }
  .form__text--error, .form__text--error:focus {
    background-color: pink;
    border-bottom: 1px solid #e74c3c;
    color: #333; }

.form__shadowless-text {
  margin-top: 1rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-secondary); }
  .form__shadowless-text:focus {
    outline: none;
    border-bottom: 1px solid #f39c12; }

.form__textarea {
  margin-top: 2rem;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-secondary); }

.form__textarea:focus {
  outline: none;
  border: 1px solid var(--color-secondary); }

.icon-button {
  margin-right: 1rem; }

.button {
  display: inline-block;
  padding: 1rem 4rem;
  text-decoration: none; }
  .button__flat-icon {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    transition: all .1s; }
  .button__flat-icon:hover {
    background-color: var(--color-secondary);
    color: #fff; }
  .button__flat-icon:active {
    background-color: #2980b9;
    color: #ecf0f1; }
  .button__green {
    padding: 1rem 6rem;
    border: none;
    color: white;
    background-color: #2ecc71;
    font-family: inherit;
    font-size: inherit;
    border-radius: 3px;
    transition: all .1s;
    cursor: pointer; }
  .button__green:hover {
    color: #ecf0f1;
    background-color: #27ae60; }
  .button__green:focus, .button__green:active {
    outline: none;
    color: #ecf0f1; }
  .button__blue {
    padding: 1rem 6rem;
    border: none;
    color: white;
    background-color: var(--color-secondary);
    font-family: inherit;
    font-size: inherit;
    border-radius: 3px;
    transition: all .1s;
    cursor: pointer; }
    .button__blue--small {
      padding: 1rem 3rem; }
  .button__blue:hover {
    color: #ecf0f1;
    background-color: #2980b9; }
  .button__blue:focus, .button__blue:active {
    outline: none;
    color: #ecf0f1; }

.pagination {
  display: flex;
  justify-content: center;
  margin: unset; }
  .pagination li {
    list-style: none; }

.page-link, .page-link:visited {
  display: inline-block;
  box-sizing: border-box;
  color: black;
  float: left;
  padding: .8rem 1.6rem;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 .4rem;
  background-color: #fff; }
  .page-link:hover, .page-link:visited:hover {
    border: 1px solid #4CAF50;
    color: #4CAF50; }

.pagination__link---active, .pagination__link---active:visited {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50; }
  .pagination__link---active:hover, .pagination__link---active:visited:hover {
    color: white; }

.pagination__link--disabled {
  background-color: #d0d0d0;
  color: white;
  border: 1px solid #d0d0d0; }

.subscription {
  margin-bottom: 3rem; }

.newsletter {
  padding: 20px;
  background-color: #f1f1f1; }
  .newsletter__input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  .newsletter__submit {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    border: none; }
    .newsletter__submit:hover {
      opacity: 0.8; }

/* Style the list */
ul.breadcrumb {
  margin-left: 0;
  padding: 10px 16px;
  padding-left: 0px;
  list-style: none; }

/* Display list items side by side */
ul.breadcrumb li {
  margin-left: 0px;
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "»"; }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e; }

.snip1207 {
  color: #000000;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 40px 10px; }

.snip1207 .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.snip1207 .plan:first-of-type {
  border-radius: 8px 0 0 8px; }

.snip1207 .plan:last-of-type {
  border-radius: 0 8px 8px 0; }

.snip1207 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.snip1207 .plan-title {
  font-weight: 800;
  padding: 15px;
  margin: 0;
  background: rgba(0, 0, 0, 0.08);
  color: #595959;
  text-transform: uppercase; }

.snip1207 .plan-cost {
  padding: 20px 10px; }

.snip1207 .plan-price {
  font-weight: 800;
  font-size: 3em;
  color: #2980b9; }
  .snip1207 .plan-price--community {
    font-size: 2em;
    line-height: 1.9em; }

.snip1207 .plan-type {
  opacity: 0.6; }

.snip1207 .plan-features {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: outside none none;
  font-size: 0.8em; }

.snip1207 .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%; }

.snip1207 .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08); }

.snip1207 .plan-features i {
  margin-right: 8px;
  opacity: 0.4; }

.snip1207 .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 30px 10px; }

.snip1207 .plan-select a {
  background-color: #2980b9;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.snip1207 .plan-select a:hover {
  background-color: #409ad5; }

.snip1207 .featured {
  margin-top: -20px;
  background-color: #2980b9;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px; }

.snip1207 .featured .plan-title,
.snip1207 .featured .plan-price {
  color: #ffffff; }

.snip1207 .featured .plan-title {
  padding: 25px 15px; }

.snip1207 .featured .plan-select {
  padding: 40px 10px; }

.snip1207 .featured .plan-select a {
  color: #2980b9;
  background-color: #ffffff; }

.snip1207 .featured .plan-select a:hover {
  background-color: #409ad5;
  color: #ffffff; }

@media only screen and (max-width: 767px) {
  .snip1207 .plan {
    width: 50%;
    border-radius: 0 !important; }
  .snip1207 .featured {
    margin-top: 0;
    border-radius: 0; }
  .snip1207 .featured .plan-title {
    padding: 15px; }
  .snip1207 .featured .plan-select {
    padding: 30px 10px; } }

@media only screen and (max-width: 440px) {
  .snip1207 .plan {
    width: 100%; } }

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #56A0F2;
  background: linear-gradient(212.14deg, #56A0F2 26.79%, #0E5EB6 89.31%);
  width: 100vw;
  height: 0vh;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all .5s; }
  .mobile-menu__close {
    opacity: 0;
    border: none;
    margin: none;
    padding: none;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    transition: all .5s; }
    .mobile-menu__close:focus {
      border: none;
      outline: none; }
  .mobile-menu__wrapper {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
  .mobile-menu__item, .mobile-menu__item:visited, .mobile-menu__item:active {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
    padding: 2.5rem; }
  .mobile-menu__item:hover {
    border: none; }

.showMenu {
  height: 100vh; }
  .showMenu .mobile-menu__close {
    opacity: 1; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .search__container {
    min-height: 70vh; }
  .search__form {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .search__input {
    display: inline-block;
    width: 100%;
    height: 8rem;
    font-size: 3em;
    padding-right: 6rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 3px solid #495057;
    transition: all .2s ease-in;
    font-family: "Source Serif Pro", serif; }
  .search__input:focus {
    outline: none;
    border-bottom: 3px solid #56A0F2; }
  .search__cta {
    position: absolute;
    right: 0;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    outline: none;
    border: none;
    fill: #d0d0d0;
    transition: all .5s; }
  .search__cta:hover {
    fill: #56A0F2; }
  .search__cta:active {
    transform: scale(0.9); }
  .search__close, .search__close:visited {
    margin-top: 1rem;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 80rem; }
  .search__close:hover {
    border: none; }

.new-invoice {
  display: flex;
  justify-content: space-between; }
  .new-invoice__left-panel {
    padding: 4rem 3.5rem;
    flex: 1 1 0; }
  .new-invoice__center-panel {
    padding: 4rem 3.5rem;
    flex: 1 1 0; }
  .new-invoice__right-panel {
    padding: 4rem 3.5rem;
    flex: 1 1 0; }

.services {
  display: flex;
  flex-direction: column;
  padding: 1rem 3.5rem;
  padding-bottom: 4rem; }
  .services__general {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .services__general-form {
      display: flex;
      flex-direction: row; }
    .services__general-form div:not(:first-child) {
      margin-left: 3rem; }
  .services__detail {
    margin-top: 3rem; }
  .services__total {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 3rem; }
  .services__total > div {
    padding-bottom: 3rem; }

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary); }

.detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.title-item {
  display: inline-block;
  text-align: center;
  padding: 1.3rem;
  text-align: center; }

.helper__services {
  width: 30rem;
  display: inline-block; }

.helper__description {
  width: 30rem; }

.helper__usd {
  width: 15rem; }

.helper__idr {
  width: 15rem; }

.helper__cta {
  width: 10rem; }

.detail__icon-delete {
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: pink;
  transition: all .2s; }
  .detail__icon-delete:hover {
    color: red; }

.login {
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login__sub-header {
    text-align: center;
    font-weight: 600;
    padding-top: .5rem; }
  .login__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

.home-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .home-1__image {
    padding: 10px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .home-1__bg-multirocket {
    width: 100%;
    margin-top: 2rem; }
    @media (max-width: 30em) {
      .home-1__bg-multirocket {
        width: 27.9rem;
        height: 17.2rem; } }
  .home-1__content {
    flex: 1 1 0;
    position: relative;
    padding: 1rem; }
  .home-1__header {
    display: flex;
    max-width: 51.9rem;
    min-height: 15.1rem;
    align-items: center; }
    @media (max-width: 30em) {
      .home-1__header {
        text-align: center; } }
  .home-1__subheader {
    max-width: 51.9rem;
    min-height: 7.6rem;
    overflow-wrap: break-word;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 3.6rem;
    font-size: 2.2rem;
    letter-spacing: 0.02em;
    color: #495057; }
    @media (max-width: 30em) {
      .home-1__subheader {
        text-align: center; } }
  .home-1__cta-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 30em) {
      .home-1__cta-wrapper {
        justify-content: center; } }
  .home-1__cta {
    display: block;
    max-width: 28.9rem;
    min-height: 6rem;
    background: #106cd2;
    border-radius: 1rem;
    margin-top: 60px;
    padding: 1.2rem 1.9rem;
    text-decoration: none;
    font-weight: 600;
    line-height: 3.6rem;
    font-size: 2.2rem;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s; }
    .home-1__cta:hover {
      background: #56A0F2;
      border: none; }
  .home-1__cta:visited {
    display: block;
    max-width: 28.9rem;
    min-height: 6rem;
    background: #106cd2;
    border-radius: 1rem;
    margin-top: 60px;
    padding: 1.2rem 1.9rem;
    text-decoration: none;
    font-weight: 600;
    line-height: 3.6rem;
    font-size: 2.2rem;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s; }
    .home-1__cta:visited:hover {
      background: #56A0F2;
      border: none; }
  .home-1__bg-rocket {
    align-self: flex-start;
    padding-top: -20px;
    width: 19.8rem;
    height: 19.8rem; }
    @media (max-width: 75em) {
      .home-1__bg-rocket {
        display: none; } }

.home-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31.3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem; }
  @media (max-width: 30em) {
    .home-2 {
      margin-top: 8rem; } }
  .home-2__header {
    margin-bottom: 2.1rem; }
  .home-2__subheader {
    text-align: center;
    max-width: 91.2rem; }
    @media (max-width: 37.5em) {
      .home-2__subheader {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem; } }

.home-3 {
  max-width: 108.3rem;
  display: flex;
  flex-direction: column;
  margin: 0rem auto; }
  .home-3-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20rem auto; }
    @media (max-width: 37.5em) {
      .home-3-top {
        flex-direction: column;
        align-items: center; } }
  .home-3__item {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    min-width: 25rem;
    margin: 0 2rem;
    flex-shrink: 1;
    padding: 2rem;
    transition: all .5s; }
    @media (max-width: 37.5em) {
      .home-3__item {
        width: 90%; } }
    .home-3__item-header {
      box-sizing: border-box;
      display: flex;
      min-height: 80px;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .home-3__item-content {
      width: inherit; }
      @media (max-width: 37.5em) {
        .home-3__item-content {
          width: 100%;
          font-size: 2rem;
          text-align: center; } }
  .home-3__item:hover .home-3__item-header {
    border-bottom: 1px solid #495057; }
  .home-3__image-wrapper {
    min-width: 400px; }
  .home-3__image {
    display: flex;
    margin-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
    height: auto; }
  .home-3-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20rem auto;
    flex-wrap: wrap;
    margin-top: 2rem; }
    @media (max-width: 37.5em) {
      .home-3-bottom {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between; }
        .home-3-bottom > * {
          margin: 1.5rem 1.5rem; } }
    .home-3-bottom__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 1 31.3rem;
      height: auto; }
      .home-3-bottom__image-item {
        width: 20.8rem;
        height: auto; }

.home-4 {
  max-width: 108.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin: 9rem auto 0; }
  @media (max-width: 37.5em) {
    .home-4__header {
      margin: 3rem 0 1rem; } }
  .home-4__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 5rem; }
    @media (max-width: 37.5em) {
      .home-4__content {
        flex-direction: column-reverse; } }
  .home-4-left {
    max-width: 50rem; }
  .home-4-right {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 37.5em) {
      .home-4-right {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3rem; } }
  .home-4__item {
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: min-content 1fr;
    margin-bottom: 1rem;
    padding: 2rem;
    transition: all .5s; }
    .home-4__item-icon {
      width: .8rem;
      height: auto;
      grid-row: 1/3;
      display: flex;
      justify-content: flex-start;
      margin-top: 0.7rem;
      align-items: flex-start;
      margin-right: 1rem; }
    .home-4__item-header {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.4rem; }
    .home-4__item-content {
      margin-top: .5rem; }
      @media (max-width: 37.5em) {
        .home-4__item-content {
          font-size: 2rem; } }
  .home-4__image-responsive {
    width: 12rem;
    height: 9.6rem; }
    @media (max-width: 37.5em) {
      .home-4__image-responsive {
        width: 8rem;
        height: auto; } }
  .home-4__image-seo {
    width: 24.6rem;
    height: 24.6rem; }
    @media (max-width: 37.5em) {
      .home-4__image-seo {
        width: 14rem;
        height: auto; } }
  .home-4__image-secure {
    width: 12rem;
    height: 12rem; }
    @media (max-width: 37.5em) {
      .home-4__image-secure {
        width: 8rem;
        height: auto; } }

.home-5 {
  max-width: 108.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    .home-5__header {
      margin: 3rem 0 1rem; } }
  .home-5__content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 5rem; }
    @media (max-width: 37.5em) {
      .home-5__content {
        flex-direction: column-reverse; } }
  .home-5-list {
    max-width: 45rem; }
  .home-5-illustration {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 37.5em) {
      .home-5-illustration {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3rem; } }
  .home-5__item {
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr;
    padding: 2rem;
    transition: all .5s; }
    .home-5__item:not(:last-child) {
      margin-bottom: 3rem; }
    .home-5__item-icon {
      width: 1.5rem;
      height: auto;
      grid-row: 1/3;
      display: flex;
      justify-content: flex-start;
      margin-top: 0.7rem;
      align-items: flex-start;
      margin-right: 1rem; }
    .home-5__item-header {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.4rem; }
    .home-5__item-content {
      margin-top: 1.5rem; }
      @media (max-width: 37.5em) {
        .home-5__item-content {
          font-size: 2rem; } }
  .home-5__image-teaching {
    width: 12.2rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .home-5__image-teaching {
        width: 8rem;
        height: auto; } }
  .home-5__image-backup {
    width: 20.6rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .home-5__image-backup {
        width: 14rem;
        height: auto; } }
  .home-5__image-support {
    width: 12.2rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .home-5__image-support {
        width: 8rem;
        height: auto; } }

.home-6__header {
  margin: 6rem 0 3rem; }

.home-6__subheader {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  max-width: 91.2rem;
  margin: 0 auto;
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .home-6__subheader {
      font-size: 2rem; } }

.home-6__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.home-6__pricing {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin: 0 1rem;
  width: 250px;
  min-height: 40rem;
  background-color: #E6F4F1;
  transition: all .5s; }
  .home-6__pricing:hover .home-6__pricing-recommended {
    transform: rotate(20deg); }
  @media (max-width: 75em) {
    .home-6__pricing {
      margin-bottom: 2rem; } }
  @media (max-width: 37.5em) {
    .home-6__pricing {
      width: 275px;
      margin-bottom: 3rem; } }
  .home-6__pricing-recommended {
    display: block;
    height: 4rem;
    position: absolute;
    font-size: 1.5rem;
    padding: .2rem;
    text-align: center;
    top: 0;
    right: 0;
    text-transform: uppercase;
    background-color: #E74C3C;
    color: white;
    padding: 1rem;
    transform: rotate(10deg);
    transform-origin: top right;
    transition: all .5s; }
  .home-6__pricing-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56A0F2;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    height: 6rem;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .home-6__pricing-title---community {
      background-color: #9BF68E; }
    .home-6__pricing-title---lite {
      background-color: #00EABD; }
    .home-6__pricing-title---basic {
      background-color: #00D7E8; }
    .home-6__pricing-title---dedicated {
      background-color: #00BEFC; }
  .home-6__pricing-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F4F1;
    font-size: 5rem;
    font-weight: 300;
    min-height: 7rem;
    margin-top: 1rem; }
    @media (max-width: 37.5em) {
      .home-6__pricing-price {
        font-size: 3em; } }
    .home-6__pricing-price---special {
      font-size: 3rem;
      font-weight: 600;
      line-height: 4rem; }
  .home-6__pricing-detail {
    background-color: #fff;
    min-height: 15rem;
    margin: 0;
    margin-bottom: 7rem; }
  .home-6__pricing-list {
    list-style-type: none;
    border-bottom: 1px dashed #d0d0d0; }
  .home-6__pricing-currency {
    margin-bottom: 2rem;
    transform: translateX(-1rem);
    font-size: .5em;
    font-weight: 300; }
  .home-6__pricing-description {
    padding: 1rem;
    min-height: 8rem; }
    @media (max-width: 37.5em) {
      .home-6__pricing-description {
        font-size: 2rem;
        line-height: 1.5em; } }
  .home-6__pricing-ctawrapper {
    min-width: 25rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%); }
  .home-6__pricing-cta {
    border-radius: 8px;
    padding: .5rem 2rem;
    color: white; }
    .home-6__pricing-cta---community {
      background-color: #9BF68E; }
    .home-6__pricing-cta---lite {
      background-color: #00EABD; }
    .home-6__pricing-cta---basic {
      background-color: #00D7E8; }
    .home-6__pricing-cta---dedicated {
      background-color: #00BEFC; }
    .home-6__pricing-cta:hover {
      border: none;
      background-color: #2785ee; }
  .home-6__pricing-cta:visited {
    display: inline-block;
    border-radius: 8px;
    padding: .5rem 2rem;
    color: white;
    align-self: flex-end; }
    .home-6__pricing-cta:visited---community {
      background-color: #9BF68E; }
    .home-6__pricing-cta:visited---lite {
      background-color: #00EABD; }
    .home-6__pricing-cta:visited---basic {
      background-color: #00D7E8; }
    .home-6__pricing-cta:visited---dedicated {
      background-color: #00BEFC; }

.home-7 {
  max-width: 108.3rem;
  margin: 10rem auto; }
  .home-7__header {
    display: flex;
    justify-content: center;
    margin: 6rem 0 3rem; }
  .home-7__content {
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr)); }

.collapsible {
  position: relative;
  background-color: transparent;
  color: #495057;
  cursor: pointer;
  padding: 1.8rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all .2s;
  font-weight: 600;
  border-bottom: 1px solid #d0d0d0;
  min-height: 7rem;
  line-height: 2.5rem; }

.active, .collapsible:hover {
  background-color: transparent; }

.content {
  padding: 0px 18px;
  background-color: #fbfbfb;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.collapsible:after {
  content: '\0276F';
  /* Unicode character for "plus" sign (+) */
  transform: rotate(90deg);
  font-size: 13px;
  color: #d0d0d0;
  position: absolute;
  right: 0;
  top: 25px; }

.active:after {
  content: "\0276F";
  /* Unicode character for 
  "minus" sign (-) */
  transform: rotate(-90deg); }

.home-8 {
  max-width: 108.3rem;
  margin: 10rem auto; }
  .home-8__header {
    display: flex;
    justify-content: center;
    margin: 6rem 0 3rem; }
  .home-8__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); }
  .home-8__step {
    margin: unset;
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    counter-reset: step;
    margin-left: 2rem; }
    .home-8__step-item {
      display: inline-block;
      padding: 1rem;
      width: 200px; }
      .home-8__step-item::before {
        display: inline-block;
        padding: 1rem;
        text-align: center;
        counter-increment: step;
        content: counter(step);
        font-weight: 300;
        font-size: 5rem;
        border-bottom: 1px solid black;
        margin-left: -6rem;
        left: 0; }
    .home-8__step-content {
      margin-top: -3rem; }
    .home-8__step-header {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #495057; }
    .home-8__step-description {
      margin-top: .5rem; }

.home-final {
  max-width: 108.3rem;
  margin: 20rem auto 15rem;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 15rem; }
  .home-final__header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 6rem;
    margin: 6rem 0 3rem; }
  .home-final__subheader {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem; }
  .home-final__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); }
  .home-final__cta, .home-final__cta:visited {
    text-decoration: none;
    border: none;
    display: block;
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    width: 300px;
    margin: 3rem auto;
    text-align: center;
    background-color: #4CAF50;
    padding: 2rem; }
  .home-final__cta:hover {
    background-color: #3d8b40;
    border: none; }
  .home-final__number {
    margin-top: .5rem;
    font-size: 2rem; }
  .home-final__moreinfo {
    margin-top: -1rem;
    font-size: 0.9em;
    text-align: center; }

.info-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.info-menu {
  width: 25%; }
  @media (max-width: 37.5em) {
    .info-menu {
      width: 100%; } }
  .info-menu__wrapper {
    margin-left: 0; }
  .info-menu__item {
    list-style-type: none; }
  .info-menu__link, .info-menu__link:visited {
    display: block;
    text-decoration: none;
    padding: 7px 1rem;
    border-right: 2px solid #f3f3f3;
    font-weight: 400;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    color: #495057; }
    .info-menu__link:hover, .info-menu__link:visited:hover {
      background-color: #ebeff8;
      border-bottom: none;
      font-style: italic; }
  .info-menu__link--active, .info-menu__link--active:visited, .info-menu__link--active:hover {
    color: #2980b9 !important;
    font-weight: 600 !important;
    border-right: 2px solid black !important; }

.info-container {
  width: 72%; }
  @media (max-width: 37.5em) {
    .info-container {
      width: 100%;
      margin-top: 3rem; } }

.info-postnav {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 2rem; }
  .info-postnav__link {
    text-decoration: none;
    color: #1278ea;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent; }
  .info-postnav__link:hover {
    border-bottom: 2px solid #1278ea;
    padding-bottom: 3px; }

.link-activer {
  color: red; }

.text-container {
  max-width: 50rem; }

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 37.5em) {
    .blog {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; } }
  .blog-list {
    width: 70%; }
    @media (max-width: 37.5em) {
      .blog-list {
        width: 100%; } }
  .blog-sidebar {
    width: 27%; }
    @media (max-width: 37.5em) {
      .blog-sidebar {
        width: 100%;
        margin-top: 3rem; } }

.blog-item:not(:last-child) {
  margin-bottom: 3rem; }

.blog-item__title {
  text-decoration: none;
  color: black;
  padding: 1rem 0;
  line-height: initial; }
  .blog-item__title:hover {
    text-decoration: underline;
    text-decoration-color: #56A0F2; }

.blog-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 1.5rem 0; }
  .blog-item__description-left {
    display: flex;
    align-items: center; }
  .blog-item__description-author {
    margin-left: 1rem; }
  .blog-item__description-avatar {
    width: 30px;
    height: auto;
    border-radius: 50%; }
  .blog-item__description-right {
    display: flex;
    align-items: center;
    color: rgba(51, 51, 51, 0.75);
    margin-left: 3.8rem; }
    .blog-item__description-right > * {
      margin: 0 .5rem; }

.blog-item__cta {
  display: inline-block;
  border-bottom: 2px solid transparent;
  margin-top: 1.5rem; }

.taxonomy-list__group {
  list-style-type: none;
  margin-left: 0;
  margin-top: 1rem; }

.taxonomy-list__item {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 5px;
  margin-right: 1rem;
  margin-top: 1rem; }

.taxonomy-list__link:hover {
  border-bottom: 2px solid #56A0F2; }

.blog-view {
  max-width: 60rem;
  margin: 0 auto; }

.company-bio {
  background-color: #F1F1F1;
  padding: 2rem; }

.related {
  padding: 2rem; }
  .related__list {
    margin-top: 1rem;
    margin-left: 4rem; }

.static {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .static__content {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 300; }
  .static__code {
    font-size: 8rem; }
  .static__header {
    font-size: 5rem; }
  .static__description {
    margin-top: 3rem;
    font-size: 3rem; }
