{{ define "main" }}

<div class="main info-main">
        <nav class="info-menu ">
            <h3 class="container container--accent">Info lengkap</h3>
            <ul class="info-menu__wrapper container" style="padding:1rem;">
                  {{ $currentNode := . }}
                {{ range .Site.Menus.infoweb }}
                <li class="info-menu__item"><a href="{{ .URL }}" title="{{ .Title }}" class='info-menu__link {{if $currentNode.IsMenuCurrent "infoweb" . }}info-menu__link--active{{end}}' >{{- .Name -}}</a></li>
               {{ end }}
            </ul>

        </nav>
        <section class="info-container container">
            <article class="text-container article">

                 <h1>{{.Title}}</h1><br>
                {{.Content}}
 
 
 
                <div class="info-postnav">
                    {{ with .PrevInSection }}
                    <a href="{{.Permalink}}" class="info-postnav__link">&larr; Artikel sebelumnya</a>
                    {{end}}
                    {{ with .NextInSection }}
                    <a href="{{.Permalink}}" class="info-postnav__link">Artikel selanjutnya &rarr;</a>
                    {{end}}
                </div>
 
            </article>
 
 
        </section>
     </div>

     {{ end }}