{{ define "main" }}


<main class="main container search__container">
    <section class="search">
        <div class="search__form">
            <input type="text" class="search__input" placeholder="Sorry, search is under construction :)">
            <button class="search__cta">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M310 190c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm190.28 253.72L366.8 310.24C388.546 277.485 400 239.555 400 200 400 89.72 310.28 0 200 0S0 89.72 0 200s89.72 200 200 200c39.556 0 77.486-11.455 110.24-33.198l133.48 133.48C451.276 507.838 461.32 512 472 512a39.73 39.73 0 0 0 28.278-11.716C507.837 492.73 512 482.687 512 472s-4.163-20.73-11.72-28.28zm-194.745-97.992C274.667 368.15 238.175 380 200 380c-99.252 0-180-80.748-180-180S100.748 20 200 20s180 80.748 180 180c0 38.175-11.85 74.667-34.272 105.535a180.87 180.87 0 0 1-40.192 40.192zm20.98 9.066a201.26 201.26 0 0 0 28.277-28.277l28.37 28.37c-8.628 10.183-18.094 19.65-28.277 28.277l-28.37-28.37zM486.14 486.14a19.86 19.86 0 0 1-28.28 0l-88.795-88.795a263.6 263.6 0 0 0 28.277-28.277l88.798 88.798c3.78 3.774 5.86 8.792 5.86 14.134a19.86 19.86 0 0 1-5.86 14.14zM200 40c-88.225 0-160 71.775-160 160s71.775 160 160 160 160-71.775 160-160S288.225 40 200 40zm0 300c-77.196 0-140-62.804-140-140S122.804 60 200 60s140 62.804 140 140-62.804 140-140 140zm112.065-182.927c-8.6-22.412-23.604-41.574-43.36-55.413A119.22 119.22 0 0 0 200 80c-5.522 0-10 4.478-10 10s4.478 10 10 10c41.1 0 78.63 25.818 93.396 64.247 1.528 3.976 5.317 6.416 9.337 6.416 1.192 0 2.405-.215 3.584-.668a10 10 0 0 0 5.748-12.922z"/></svg>
            </button>
        </div>
        <a href="#" class="search__close" onclick="window.history.back()">Close</a>

    </section>
</main>



{{ end }}